body{
   background-color: hsla(0, 33%, 1%, 0.871);
}
.to-do-list {
    font-family: "Arial, sans-serif";
    text-align: center;
    margin-top: 100px;
    
}

h1 {
    font-size: 4rem;
    color: white;
}

button {
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 22px;
    cursor: pointer;
    transition: background-color 0.5 ease;

}

.add-button {
    background-color: hsla(153, 83%, 50%, 0.814);
}

.add-button:hover {
    background-color: hsla(153, 83%, 45%, 0.814);
}

.delete-button {
    background-color: hsla(0, 59%, 60%, 0.881);
}

.delete-button:hover {
    background-color: hsla(0, 59%, 50%, 0.881);
}

.move-button {
    background-color: hsla(242, 71%, 73%, 0.881);
}

.move-button:hover {
    background-color: hsla(242, 71%, 63%, 0.881);
}

input[type="text"] {
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid hsla(0, 7%, 76%, 0.722);
    border-radius: 22px;
    margin-right: 10px;
    color: hsl(180, 4%, 40%);
}

ol {
    padding: 0;

}

li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: hsla(208, 90%, 85%, 0.358);
    margin-bottom: 10px;
    border: 3px solid hsla(208, 90%, 85%, 0.771);
    border-radius: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text{
    flex: 1;
}

.delete-button, .move-button{
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}
